
.card-hide{ width: 200px; height: 200px; display: inline-block; margin: 10px 0 0 5px; border-radius: 10px; border: solid 1px ; }
.card-hide figure{ margin: 0; width: 100%; height: 100%; }
.card-hide figure img{ width: 100%; height: 100%; }

.card-showed{ text-align: center; width: 200px; height: 200px; display: inline-block; margin: 10px 0 0 5px; border-radius: 10px; border: solid 1px #000; background: #fff; }
.card-showed img{ width: 100%; height: 100%; border-radius: 10px; }